// background
$colour1: #f3d8cc;
//main colour
$colour2: #b11310;
//secondary colour
$colour3: #ea2810;

$mb: 10vw;

.fontstack {
  font-family: "custom", Missguided, Arial, sans-serif;
}

.main-container,
.top-promos-wrapper {
  max-width: 100vw;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.breadcrumbs {
  display: none;
}

body {
  background: $colour1;
}

a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: lowercase;
  line-height: 1.2;
  margin: 0 0 1rem 0;
}

.container {
  position: relative;
  width: 100%;
  max-width: 3000px;
  margin: 0 auto;
  text-align: center;

  //   background: linear-gradient($teal, $nude);

  *:not(.button) {
    @extend .fontstack;
  }
  a {
    display: block;
    text-decoration: none;
  }
  img {
    width: 100%;
    transition: opacity 0.3s ease-in;
  }
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow: visible;
  color: $colour1;
  text-align: center;
  background-color: $colour2;
  h1,
  h3 {
    width: 100%;
    position: absolute;
  }
  h1 {
    font-size: 8vw;
    top: 40%;
    z-index: 101;
  }
  h3 {
    font-size: 2vw;
    top: 55%;
    text-transform: uppercase;
  }
}

.header {
  position: relative;
  margin-bottom: $mb;
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    min-width: 600px;
    max-width: 620px;
    color: white;
    h1 {
      font-size: 10vw;
      margin-bottom: 30px;
    }
    h3 {
      font-size: 1.5em;
    }
  }
}

.flex,
.pricepoint {
  display: flex;
  flex-direction: row;
  &.start {
    align-items: flex-start;
  }
  &.end {
    align-items: flex-end;
  }
}

// flex columns for all sorts
// adjust using section specificity
// eg; section.blogs .flex.two {justify-content:center;}
.flex {
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 0 auto 30px;
  &.two {
    width: 100%;
    justify-content: space-evenly;
    .col {
      flex: 1 0 150px;
      max-width: 350px;
      //below is 2/3 width
      &.third {
        flex: 1 1 350px;
        max-width: 700px;
        // padding: 0 5%;
      }
    }
  }
  &.three {
    max-width: 1200px;
    margin: 0 auto 30px;
    justify-content: space-evenly;
    .col {
      flex: 1 0 200px;
      margin: 20px;
    }
  }
  &.four {
    .col {
      flex: 0 1 200px;
      margin: 0 5px;
      .button {
        margin-top: 10px;
      }
    }
  }
}

// independant centeralised image
// eg; .center>img>h1>button.button
.center {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

// .pricepoint.start <a p[top £5]> p.sep[|] <a p[bottom £10]>
.price-point {
  justify-content: flex-end;
  margin-top: 10px;
  p {
    font-weight: 300;
    color: $colour3;
    letter-spacing: 1px;
    transition: 0.3s ease all;
    padding: 0 5px;
    &:not(.sep):hover {
      background: $colour3;
      color: $colour1;
    }
    &.sep {
      cursor: default;
    }
  }
  a {
    margin: 0 10px;
  }
}

section {
  margin-bottom: $mb;

  //   .title{}
  //   .subtitle{}

  &:not(.full-width) {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto $mb;
  }
  // &.section-class{}
}

// slick slider
.slick-three {
  width: 80%;
  margin: 0 auto;
  height: auto;
  & div {
    height: auto;
    padding: 0;
    padding-top: 10px;
    text-align: center;
  }
  & img {
    width: auto;
  }
  & .button {
    margin-top: 12px;
  }
  & h2 {
    margin-bottom: 22px;
  }
}

.cta {
  background: $colour3;
  padding: 30px 0;
  p {
    display: block;
    font-size: 22px;
    text-align: center;
    color: $colour2;
    margin: 0;
  }
}

@media (min-width: 960px) {
  // fixed menu
  .header {
    max-height: 90vh;
    overflow: hidden;
    .content {
      h1 {
        font-size: 100px;
        margin-bottom: 30px;
      }
    }
  }
}

@media (min-width: 768px) {
  .hide-on-desk {
    display: none;
  }
  .hide-on-mob {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .main-container .main > :not(.toolbar-container) {
    box-sizing: border-box;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    padding: 0px;
  }
  .hide-on-desk {
    display: block;
  }
  .hide-on-mob {
    display: none;
  }
}

@media (max-width: 540px) {
  .main-container .main > :not(.toolbar-container) {
    padding: 0;
  }
  .order1 {
    order: 1;
  }
  .order2 {
    order: 2;
  }
  .order3 {
    order: 3;
  }
}
